<div class="card">
    <div class="card-header text-center">
        <h4>Devoured</h4>
    </div>
    <div class="card-body scroll">

        {{#each devouredList}}
            <div>
                <p>{{id}}. {{burger_name}}
                    <button class="btn btn-sm btn-outline-light m-1 delete-btn float-right"
                            data-id="{{this.id}}"><i class="fas fa-times"></i>
                    </button>
                    </p>
                </div>
        {{/each }}

    </div>
</div>