<div class="card">
    <div class="card-header text-center">
        <h4>New Burgers</h4>
    </div>
    <div class="card-body scroll">

        {{#each undevouredList}}
            <div>
                <p>{{id}}. {{burger_name}}
                    <button class="btn btn-sm btn-outline-dark m-1 devour-btn float-right"
                            data-burger="{{id}}">EAT <i class="fas fa-hamburger"></i> ME
                    </button>
                </p>
            </div>
        {{/each }}

    </div>
</div>