@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

html {
    min-height: 100%;
    background: #222222;
}

body {
  height: 980px;
  background: linear-gradient(120deg, #666666 0%, #000000 95%);
  
}
.card-header, .card {
    background: linear-gradient(120deg, #74ebd5 0%, #ACB6E5 95%);
}
.card-header, .devour-btn, .delete-btn {
    color: #000;
}

.delete-btn:hover {
    background: linear-gradient(146deg, rgba(237,33,58,1) 0%, rgba(147,41,30,1) 100%);
}

.card {
    border: none;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
}

h4, h1, a {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 5rem;
    color: #9ca6de;
    text-shadow: 2px 3px #5a5a5a
    /* text-shadow:1px 1px 10px #979696, 1px 1px 10px #ccc; */
}

h6 {
    color: #fff;
    font-size: .9rem;
    line-height: 1.4rem;
    letter-spacing: .2rem;
}

.footer {
    background: rgba(0, 0, 0, .5);
}

a, a:hover {
    color: #9ca6de;
}

input {
    background: linear-gradient(120deg, #74ebd5 0%, #ACB6E5 95%)!important;
}